[submodule "pack/mypack/start/tagbar.vim"]
	path = pack/mypack/start/tagbar.vim
	url = https://github.com/majutsushi/tagbar
[submodule "pack/mypack/start/syntastic.vim"]
	path = pack/mypack/start/syntastic.vim
	url = https://github.com/vim-syntastic/syntastic
[submodule "pack/mypack/start/neocomplete.vim"]
	path = pack/mypack/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
