/vimfiles/vim-plug/
/vimfiles/doc/
/vimfiles/plugged/
/vimfiles/autoload/
/vimfiles/ftplugin/
/vimfiles/.netrwhist
/vimfiles/colors/
/vimfiles/.undo
/vimfiles/viminfo
/vimfiles/view/
/vimfiles/spell/
/.proxy_setting
