[submodule "pack/mypack/start/tagbar.vim"]
	path = pack/mypack/start/tagbar.vim
	url = https://github.com/majutsushi/tagbar
[submodule "pack/mypack/start/syntastic.vim"]
	path = pack/mypack/start/syntastic.vim
	url = https://github.com/vim-syntastic/syntastic
[submodule "pack/mypack/start/neosnippet.vim"]
	path = pack/mypack/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "pack/mypack/start/neosnippet-snippets.vim"]
	path = pack/mypack/start/neosnippet-snippets.vim
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "pack/mypack/start/Align.vim"]
	path = pack/mypack/start/Align.vim
	url = https://github.com/vim-scripts/Align
